

// colores
.bgRed{background: $red !important; } 
.colorRed{color: $red !important; }

.bgRed2{background: $red2 !important; }
.colorRed2{color: $red2 !important; }

.bgBlue{background: $blue !important; }
.colorBlue{color: $blue !important; }

.bgBlueLight{background: $bluelight !important; }
.colorBlueLight{color: $bluelight !important; }

.bgDarkBlue{background: $darkblue !important; }
.colorDarkBlue{color: $darkblue !important; }

.bgWhite{background: $white !important; }
.colorWhite{color: $white !important; }

.bgBlack{background: $black !important; }
.colorBlack{color: $black !important; }

.bgLightGrey{background: $lightgrey !important; }
.colorLightGrey{color: $lightgrey !important; }

.bgGrey{background: $grey !important; }
.colorGrey{color: $grey !important; }


.bgFont{background: $font !important; }
.colorFont{color: $font !important; }

.bgAqua{background: $aqua !important; }
.colorAqua{color: $aqua !important; }


.lineTitleWhite::after {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    display: block;
    height: 3px;
    margin: 15px auto 30px;
    text-align: center;
    width: 100px;
}

.suscripcion .suscripTitleWhite::after {
    margin: 15px 0 30px;
}

.order1{
  article:nth-child(1){
     @include order(1);
  }
   article:nth-child(2){
     @include order(2);
  }

}

.order2{ 
	article:nth-child(1){
     @include order(1);
    }
   article:nth-child(1){
     @include order(1);
    }
    @media(min-width:768px){
		   article:nth-child(2){
		     @include order(1);
		    }
		   article:nth-child(1){
		     @include order(2);
		    }
    }
}

