

// colores
.bgRed{background: $red !important; }
.colorRed{color: $red !important; }

.bgRed2{background: $red2 !important; }
.colorRed2{color: $red2 !important; }

.bgBlue{background: $blue !important; }
.colorBlue{color: $blue !important; }

.bgBlueLight{background: $bluelight !important; }
.colorBlueLight{color: $bluelight !important; }

.bgDarkBlue{background: $darkblue !important; }
.colorDarkBlue{color: $darkblue !important; }

.bgWhite{background: $white !important; }
.colorWhite{color: $white !important; }

.bgBlack{background: $black !important; }
.colorBlack{color: $black !important; }

.bgLightGrey{background: $lightgrey !important; }
.colorLightGrey{color: $lightgrey !important; }

.bgGrey{background: $grey !important; }
.colorGrey{color: $grey !important; }


.bgFont{background: $font !important; }
.colorFont{color: $font !important; }

.bgAqua{background: $aqua !important; }
.colorAqua{color: $aqua !important; }




