$red2:#c4211a;
$red:#FF0B24;
$blue:#2f5685;
$bluelight:#8dc7e1;
$darkblue:#131722;
$white:#fff;
$black:#282726;
$lightgrey:#f1f1f3;
$grey:#cccccc;
$greymedium:#999999;
$greydark:#787878;
$aqua:black;

$font: #787878;





